* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/static/Raleway-Regular.ttf);
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #000;
  line-height: 1.4em;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 20px;
}

input:focus {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
  overflow: hidden;
}

::-moz-placeholder {
  font-size: 18px;
}

:-ms-input-placeholder {
  font-size: 18px;
}

::placeholder {
  font-size: 18px;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

textarea:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

textarea:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 20px 0px 10px;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding-right: 10px;
  gap: 10px;
  z-index: 3;
  position: relative;
}
.header__list {
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 2;
}
.header__list li {
  margin: 0px 0px 0px 20px;
}
.header__list li a {
  transition: all 0.3s ease-out;
}
.header__list li a:hover {
  border-bottom: 2px solid rgb(231, 1, 1);
  color: rgb(231, 1, 1);
}
.header__link {
  font-size: 17px;
}
.header__phone {
  display: flex;
  text-align: center;
  gap: 10px;
  font-size: 16px;
  z-index: 2;
}
.header__basket {
  z-index: 2;
}
.header__burger {
  display: none;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0px 0px 4px grey;
}

@media (max-width: 865px) {
  .header__phone img {
    width: 20px;
    padding-bottom: 2px;
  }
  .header__phone p {
    display: none;
  }
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
    border-bottom: 1px solid black;
  }
  .header__logo {
    display: flex;
    padding: 0px 0px 0px 170px;
    gap: 5px;
    font-size: 16px;
  }
  .header__logo img {
    width: 40px;
  }
  .header__block {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }
  .header__burger {
    display: flex;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
  }
  .header__burger span {
    position: absolute;
    background-color: black;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 10px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 2px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 19px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    top: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 70px 10px 20px 10px;
    transition: all 0.4s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }
  .header__basket img {
    width: 20px;
    padding-top: 7px;
  }
  .header__phone img {
    width: 18px;
  }
  .header__phone p {
    display: none;
  }
}
.active-menu {
  font-weight: 400;
  color: rgb(231, 1, 1);
  border-bottom: 2px solid rgb(231, 1, 1);
}

@media (max-width: 650px) {
  .header__logo {
    padding: 0px 0px 0px 120px;
  }
}
@media (max-width: 485px) {
  .header__logo {
    padding: 0px 0px 0px 70px;
  }
}
.title {
  padding: 210px 0px 0px 0px;
}
.title__content {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.title__content h1 {
  font-size: 55px;
  font-weight: 400;
  line-height: 110%;
  padding-bottom: 10px;
}
.title__content span {
  color: #909090;
}
.title__content p {
  font-size: 21px;
  padding-left: 10px;
}

.about {
  padding: 100px 0px 100px 0px;
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.about__content img {
  flex-basis: 38%;
  max-width: 38%;
  display: block;
  height: auto;
}
.about__content_block {
  display: flex;
  justify-content: space-between;
  gap: 130px;
  text-align: left;
  align-items: center;
}
.about__content_block div {
  flex: 1;
}
.about__content_block div h3 {
  padding-bottom: 46px;
  font-size: 25px;
  line-height: 140%;
}
.about__content_block div p {
  padding: 0px 0px;
  font-size: 17px;
  line-height: 140%;
}
.about__content_btn {
  display: flex;
  justify-content: center;
}
.about__content_btn a {
  background-color: rgb(255, 51, 0);
  padding: 22px 50px;
  color: #fff;
  border: none;
}

@media (max-width: 920px) {
  .title {
    padding: 160px 0px 0px 0px;
    text-align: center;
  }
  .title__content {
    padding-left: 0px;
    gap: 15px;
  }
  .title__content h1 {
    font-size: 45px;
  }
  .title__content p {
    font-size: 17px;
  }
  .about {
    padding: 60px 0px 60px 0px;
  }
  .about__content {
    gap: 50px;
  }
  .about__content_btn a {
    background-color: rgb(255, 51, 0);
    padding: 15px 40px;
    color: #fff;
    border: none;
  }
  .about__content_block {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  .about__content_block img {
    order: 1;
    flex-basis: 80%;
    max-width: 80%;
  }
  .about__content_block div {
    padding: 0px 15px 0px 15px;
    order: 2;
  }
  .about__content_block div h3 {
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .title {
    padding: 115px 0px 0px 0px;
  }
}
@media (max-width: 550px) {
  .about__content_block img {
    flex-basis: 100%;
    max-width: 100%;
  }
}
.main {
  padding: 100px 0px 0px 0px;
}

.footer {
  padding: 25px 0px;
  background-color: black;
}
.footer__container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
}
.footer__content {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
}
.footer__content_logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
}
.footer__content_logo a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer__content_menu {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.footer__content_contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 47px;
}

@media (max-width: 840px) {
  .footer {
    padding: 0px 0px 30px 0px;
  }
  .footer__content_menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 100px;
  }
}
@media (max-width: 570px) {
  .footer {
    padding: 0px 0px 30px 0px;
  }
  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer__content_menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 0px;
  }
  .footer__content_logo {
    align-items: center;
  }
  .footer__content_contact {
    align-items: center;
    padding-top: 0px;
  }
}
.location {
  padding: 100px 0px 0px 0px;
}

.info {
  padding: 130px 0px 130px 0px;
}
.info__contact {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 100px;
  padding: 0px 20px;
}
.info__contact div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
}

.message {
  padding: 0px 0px 100px 20px;
  text-align: left;
}
.message__form {
  display: flex;
  flex-direction: column;
  gap: 62px;
}
.message__form h3 {
  font-size: 25px;
  line-height: 35px;
}
.message__form form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: all 0.5s ease-in;
}
.message__form form input {
  height: 55px;
  border: none;
  border-bottom: 1px solid #000;
  width: 320px;
  font-size: 18px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.message__form form textarea {
  height: 130px;
  width: 443px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 18px;
}
.message__form form div button {
  background-color: rgb(255, 51, 0);
  padding: 25px 65px;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .info__contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .message__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .message__form form {
    align-items: center;
  }
  .message__form form textarea {
    width: 320px;
  }
}
@media (max-width: 580px) {
  .info__contact div {
    align-items: center;
  }
  .message {
    padding: 0px 0px 100px 0px;
  }
}/*# sourceMappingURL=style.css.map */